* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header>nav>ul {
    list-style: none;
    padding: 1rem;
    
}

header>nav>ul>li {
    display: inline-block;
    color:rgb(77, 90, 76);
   

  
}
header>nav>ul>li>a {
    border: 1px solid;
    border-radius: 15px;
    padding: .5rem 1rem;
    background-color: #75867a;
    font-weight: 550;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(40, 41, 40);

   
}

header nav>ul>li>a:hover {
    color: #7d8581;
    background-color: #0E151C;
    
}

header nav {
    height: 80px;
    color: #08090A;
}

header .hero_wrapper img {
    height: 100%;
    width: 100%;
}

header .hero_wrapper>.hero_text_wrapper {
    position:absolute;
    top: 18rem;
    left: 7rem;
    padding: 2rem;
}

header .hero_wrapper>.hero_text_wrapper p {
    background-color: #fff;
    padding: 0 .3rem;
}

header .hero_wrapper>.hero_text_wrapper h1 {
    font-size:2.5rem;
    
    color:rgb(207, 247, 207);
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
 
}


head, header {
background-color: #9fa89d;   
}

main>section{
background-color: #5D675B;
}

h2{
    font-size: 2rem;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
padding-top: 2rem;
padding-bottom: 2rem;
text-align: center;
}




footer {
    min-height: 16.25rem;
    padding: 3rem;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
}

footer>p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

footer .row>p {
    margin-top: 4rem;
}

footer #social_links {
    text-align: center;
}

footer #social_links a:hover i {
    color: rgb(3, 245, 76);
}
   
footer {
    background-color: rgb(77, 90, 76);
    color:#171a16;


}


 


main>section>img { 
    width: 300px;
}


